:root {
    --color0: #55bfff;
    --color1: #95ff9c;
    --color2: #ff9c40;
    --color3: #ff5bbb;
    --color4: rgb(188, 107, 255);
}

* {
    box-sizing: border-box;
}

body, html {
    margin: 0px;
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(84, 84, 84);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.no-scroll {
    overflow: hidden;
}

/* phones */
@media only screen and (max-width: 600px) {
    .containerNav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(214, 214, 214);
        padding: 3px;
        height: 100%;
        width: 100%;
    }
    .container-active {

    }

    .itemNav {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 20px;
        border-width: 0px 3px 3px 1px;
        border-style: solid;
        border-color: transparent;
        margin: 5px 5px 5px 0px;
        padding: 10px;
        text-decoration: none;
        color: black;
    }
    
    /* .itemNav:hover {
        border-color: black;
        filter: brightness(115%);
    } */

    .hamburger-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: right;
        background-color: #e07a5f;
    }

    #hamburger-nav {
        position: absolute;
        bottom: 100vh;
        width: 100vw;
        height: 100vh;
        transition: 1s;
    }

    .hamburger {
        visibility: visible;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .hamburger > div {
        background-color: white;
        width: 40px;
        height: 5px;
        margin: 4px;
    }

    #divBody {
        margin: 20px;
    }
    .containerBody {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .itemText {
        width: 100%;
    }
    .itemPicture {
        width: 100%;
    }

    .info-box {
        font-size: 1.3em;
        padding: 20px 30px;
    }
    
    .info-box > ul > li {
        font-size: 1em
    }

    .indexImage {
        width: 100%;
    }
}

/* ipads */

@media only screen and (min-width: 600px) {
    .containerNav {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: rgb(214, 214, 214);
        padding: 3px;
    }
    .itemNav {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: bold;
        border-width: 0px 3px 3px 0px;
        border-style: solid;
        border-color: transparent;
        margin: 5px 5px 5px 0px;
        padding: 10px;
        text-decoration: none;
        color: black;
    }
    
    .itemNav:hover {
        border-color: black;
        filter: brightness(115%);
    }

    .hamburger {
        visibility: none;
    }

   

    #divBody {
        margin: 20px;
    }
    .containerBody {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .itemText {
        width: 100%;
        font-size: 30px;
    }
    .itemPicture {
        width: 100%;
    }

    .info-box {
        font-size: 30px;
        padding: 20px 30px;
    }
    
    .info-box > ul > li {
        font-size: 30px;
    }

    .source-image {
        font-size: 20px;
    } 
    .sources {
        font-size: 20px;
    }
    .indexImage {
        width: 80vw;
    }
}

@media only screen and (min-width: 1000px) {
    .containerNav {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        background-color: #f4f1de;
        padding: 2px 10px;
    }
    .itemNav {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: bold;
        border-width: 0px 3px 3px 0px;
        border-style: solid;
        border-color: transparent;
        margin: 10px 10px 10px 0px;
        padding: 10px;
        text-decoration: none;
        color: black;
    }
    
    .itemNav:hover {
        border-color: black;
        filter: brightness(115%);
    }
    #divBody {
        margin: 20px;
    }
    .containerBody {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }
    .itemText {
        font-size: 20px;
        width: 60%;
        padding-right: 20px;
    }
    .itemPicture {
        width: 40%;
        padding-left: 10px;
    }
    .info-box {
        font-size: 1em;
        padding: 20px 20px;
    }
    
    .info-box > ul > li {
        font-size: 0.9em
    }
} 

@media only screen and (min-width: 1300px) {
    #divBody {
        margin: 40px;
    }
    .info-box {
        font-size: 1.3em;
        padding: 20px 50px;

    }
    .info-box > ul > li {
        font-size: 1em
    }
    .itemText {
        width: 60%;
        padding-right: 40px;
    }
}

.active {
    color: rgb(35, 35, 35);
    border-color: black;
    background-color: opacity(110%);
}

#homeLink {
    background-color: var(--color0);
}

#beerLink {
    background-color: var(--color1);
}

#cocaineLink {
    background-color: var(--color2);
}

#morphineLink {
    background-color: var(--color3);
}

#quizLink {
    background-color: var(--color4);
}

.timeline {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.content {
    background-color: rgb(179, 222, 222);
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}



.info-box {
    border: solid black 2px;
    border-radius: 3px;
    margin-bottom: 50px;
}

.itemPictureItem {
    margin-bottom: 50px;
}

.pictureRight {
    width: 100%;
}

.sources {
    background-color: rgb(208, 208, 208);
    padding: 20px;
}

.sources > ul {
    list-style: none;
    padding: 0px;
    margin: 20px 0px;
}

.sources > ul > li {
    margin: 10px 0px;
}