html, body {
    padding: 0px;
    margin: 0px;
}

@media only screen and (max-width: 1200px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .containerCards {
        display: flex;
        height: 50vh;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .card {
        width: 35vh;
        height: 35vh;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
    }
    .containerAnswersWrapper {
        display: flex;
        width: 100%;
        align-items: center;
        height: 50vh;
    }
    .containerAnswers {
        display: grid;
        grid-template-columns: 47.5vw 47.5vw;
        grid-template-rows: auto auto;
        gap: 5vw;
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        display: flex;
        flex-direction: row;
    }
    .containerCards {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    .card {
        width: 50vh;
        height: 50vh;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 30px;
        font-size: 50px;
        transition: 1s;
    }
    .containerAnswersWrapper {
        display: flex;
        width: 50%;
        align-items: center;
    }
    .containerAnswers {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 20px;
        width: 100%;
        height: 60vh;
    }
}

.answer {
    height: 100%;
    background-color: #ddc98e;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.correct {
    background-color: #30c180;
}

.wrong {
    background-color: rgb(218, 59, 59);
}

.active {
    transition: 1s;
}

.gone {
    transition: 1s;
    /* filter: blur(10px); */
    translate: -1000px 0px;
    /* opacity: 0%; */
}

#message {
    display: none;
}

#card1 {
    --rotation: 0deg;
    background-color: #10A19D;
    transform: rotate(var(--rotation));
    z-index: 7;
}
#card2 {
    --rotation: 15deg;
    background-color: #540375;
    transform: rotate(var(--rotation));
    z-index: 6;
}
#card3 {
    --rotation: -3deg;
    background-color: #FF7000;
    transform: rotate(var(--rotation));
    z-index: 5;
}
#card4 {
    --rotation: 7deg;
    background-color: #FFBF00;
    transform: rotate(var(--rotation));
    z-index: 4;
}
#card5 {
    --rotation: -16deg;
    background-color: #00ffb3;
    transform: rotate(var(--rotation));
    z-index: 3;
}
#card6 {
    --rotation: 24deg;
    background-color: #00b3ff;
    transform: rotate(var(--rotation));
    z-index: 2;
}
#card7 {
    --rotation: -4deg;
    background-color: #d900ff;
    transform: rotate(var(--rotation));
    z-index: 1;
}